@*@model IEnumerable<EFRailWay.Entities.MTSostav>
@{
    ViewBag.Title = "Home Page";
}
@foreach (var p in Model)
{
    <div class="item">
        <h3>@p.CompositionIndex</h3>
        @p.DateTime
        <h4>@p.Operation</h4>
    </div>
}*@


<div class="jumbotron">
    <h1>RAILWAY</h1>
    <p class="lead">RailWay - web- приложение учета подвижного сотава ПАО "АрселорМиттал Кривой Рог"</p>
    <p>@Html.ActionLink("Перейти >", "Index", "Home", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
    @*<a href="http://asp.net" class="btn btn-primary btn-lg">Перейти &raquo;</a>*@
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Отчеты Металлург Транс</h2>
        <p>
            Информация по составам отправляемых со станций УЗ по Кривому Рогу. Информацию предоставляет Металлург Транс.
        </p>
        <p>@Html.ActionLink("Перейти >", "Index", "MT", new { area = "" }, new { @class = "btn btn-default" })
        @*<a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Перейти &raquo;</a>*@
        </p>
    </div>
    @*<div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>